.nombre-persona{
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.contenedor-card{
    background-color: rgb(43, 50, 55);
    border-radius: 20px;
}

.border-redondos{
    border-radius: 15px;
}
